<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Movie reviews</title>
</head>
<body>
	<h1>List of movies</h1>
	
	<!--List of all movies in the database-->
	<table class="table table-striped">
	  <tr>
	    <th>Title</th>
	    <th>Release Year</th>
	    <th>Genre</th>
	    <th>Average score</th>
	    <th>Votes</th>
	  </tr>
		<tr th:each="movie : ${movies}">
			<td><a th:text="${movie.title}" th:href="@{/movie/{id}(id=${movie.id})}"></a></td>
			<td th:text="${movie.releaseYear}"></td>
			<td th:text="${movie.genre.name}"></td>
			<td><span th:text="${movie.averageScore}"></span> / 5.0</td>
			<td th:text="${movie.votes}"></td>
		</tr>
	</table>
	<p><a th:href="@{/add}">Add a movie to collection</a></p>
	<p><a sec:authorize="hasAuthority('ADMIN')" th:href="@{/adminpage}">Admin page</a></p>
	<!--Log out-->
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out"/>
	</form>
</body>
</html>