<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title th:text="${movie.title}"></title>
 <link type="text/css"rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<h1 th:text="${movie.title}"></h1>
	
	<table>
		<tr>
	    	<th>Release Year</th>
	    	<th>Genre</th>
	   		<th>Average score</th>
	    	<th>Votes</th>
	    	<th>Leave a rating (1-5)</th>
	    	<th>Edit</th>
	    	<th sec:authorize="hasAuthority('ADMIN')">Delete</th>
	  	</tr>
	
		<tr>
			<td th:text="${movie.releaseYear}"></td>
			<td th:text="${movie.genre.name}"></td>
			<td th:text="${movie.averageScore}"></td>
			<td th:text="${movie.votes}"></td>
			<td>	
				<form id="#" th:object="${score}" 
					th:action="@{/leaverating/{username}/{movieid}(movieid=${movie.id}, username=${#httpServletRequest.remoteUser})}" 
						action="#" method="post">
					<input type="number" id="score" th:field="*{score}" name="rating" min="1" max="5">
					<input type="submit" value="Submit"/>
				</form>
			</td>
			<td><a th:href="@{/edit/{id}(id=${movie.id})}">Edit</a></td>
			<td><a sec:authorize="hasAuthority('ADMIN')" th:href="@{/delete/{id}(id=${movie.id})}">Delete</a></td>
		</tr>
	</table>
	
	<img th:src="'data:image/jpeg;base64,' + ${movie.base64ImagePoster}"/>
	
	<p><a th:href="@{/index}">Go back to collection</a></p>
	
	<div>
		<form method="POST" id="#" action="#" enctype="multipart/form-data" th:action="@{/uploadfile/{id}(id=${movie.id})}">
			<table>
				<tr><td>Poster to upload:</td><td><input type="file" name="file" /></td></tr>
				<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
			</table>
		</form>
	</div>
	
</body>
</html>